body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fdfdfd;
    background: #ffffff;
}

html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media (min-width: 767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

.top50 {
    margin-top: 50px;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 0;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    background: 0 0;
}

.navbar-up {
    background-color: black;
    top: -50px;
}

.navbar-brand {
    font-weight: 800;
}

.navbar-brand:active {
    color: #fdfdfd;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #fdfdfd;
}

.navbar-default .navbar-brand:hover {
    outline: 0;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

#toggleBtn:hover,
#toggleBtn:focus,
#toggleBtn:active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: lightgray;
    color: black;
}

@media (min-width: 767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 2px;
        background: 0 0;
        box-shadow: none;
        position: fixed;
        transition: top 0.2s ease-in-out;
        -moz-transition: top 0.2s ease-in-out;
        -webkit-transition: top 0.2s ease-in-out;
    }

    .navbar-up {
        border-bottom: 0;
        letter-spacing: 2px;
        background: 0 0;
        box-shadow: none;
        transition: top 0.2s ease-in-out;
        -moz-transition: top 0.2s ease-in-out;
        -webkit-transition: top 0.2s ease-in-out;
        top: -50px;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom .top-nav-collapse {
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0 20px 0;
    text-align: center;
    background: url(../images/homeBackground.jpg) no-repeat center fixed;
    background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 50px;
}

.brand-image {
    width: 20%;
    height: auto;
    margin: 5% 0 2% 0;

}

.intro-text {
    font-size: 40px;
    letter-spacing: 4px;
}

.project-text {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 4px;
    margin-right: 90px;
    border-bottom: 3px solid black;
    margin-bottom: 80px;
}

.btn-circle {
    width: 80px;
    height: 80px;
    margin-top: 15px;
    padding: 7px 16px;
    border-radius: 40px;
    font-size: 40px;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-intro {
    border: 2px solid #fff;
    color: #fff;
}

.btn-intro:hover,
.btn-intro:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}

.btn-projects {
    margin-top: 40px;
    border: 2px solid black;
    color: black;
}

.btn-projects:hover,
.btn-projects:focus {
    outline: 0;
    color: black;
    background: rgba(0, 0, 0, 0.18);
}

.project-section {
    width: 100%;
    padding: 50px 0 50px 0;
    background: url(../images/projectBackground.jpg) no-repeat center fixed;
    background-size: cover;
    color: rgba(0, 0, 0, 0.72);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

#projects .project-item {
    right: 0;
    margin: 0 0 15px;
}

#projects .project-item .project-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 350px;
    box-shadow: 8px 8px 5px #888888;
    border-radius: 10px;
}

#projects .project-row {
    margin-right: 90px;
    margin-bottom: 15px;
}

.project-image {
    border-radius: 10px;
}

#projects .project-item .project-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(255, 255, 255, .6);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#projects .project-item .project-link .caption:hover {
    opacity: 1;
    box-shadow: 8px 8px 5px #151515;
    border-radius: 10px;
}

#projects .project-item .project-link .caption .caption-content {
    position: absolute;
    top: 45%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.68);
}

.modal-dialog {
    width: 80%;
    height: auto;
}

.modal-content {
    color: #fdfdfd;
    background: rgba(0, 0, 0, 0.70);
}

.modal-body {
    padding-top: 0;
}

.modal-company-name {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
}

.modal-company-link {
    font-size: 20px;
    text-decoration: none;
    color: #fdfdfd;
    margin-right: 20px;
}

.modal-body {
    font-size: 18px;
}

.modal-body-link {
    color: lightgray;
}

.modal-company-link:hover, .modal-body-link:hover {
    outline: 0;
    color: gray;
    text-decoration: none;
}

.modal-body-title {
    text-decoration: underline;
    margin-bottom: 10px;
    margin-top: 15px;
}

.skill-set-section {
    width: 100%;
    padding: 50px 0 50px 0;
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color: rgba(211, 211, 211, 0.18);
}

.skill-set-text {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 4px;
    margin-right: 90px;
    border-bottom: 3px solid black;
    margin-bottom: 15px;
}

canvas {
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: auto;
}

.bean-skills {
    width: 50%;
    margin: 0 auto;
    padding: 0;
}

.bean-skills p {
    margin-bottom: 20px;
}

ul.bean-skillset {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.tool-set {
    margin-top: 20px;
    float: left;
    width: 100%;
    font-size: 17px;
}

.skill-percent {
    float: right;
}

li.skill-bar {
    background-color: #7BC673;
    color: #FFF;
    font: 12px/23px "Open Sans", Arial, Helvetica, Geneva, sans-serif;
    margin-bottom: 4px;
    padding: 2px 8px;
    width: 300px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    list-style-type: none;
}

.skill-set-details {
    margin-right: 50px;
}

.tool-text, .tech-text {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 4px;
    border-bottom: 1px solid gray;
}

.tech-text {
    margin-left: 28%;
}

.connect-me-bar {
    position: fixed;
    bottom: 3pc;
    right: 5pc;
    z-index: 1000;
}

.connect-me-icons {
    list-style-type: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(63, 63, 63, 0.67);
    padding-top: 20%;
    color: black;
    margin-bottom: 5%;
}

.connect-me-icons:hover {
    transition: all ease .5s;
    cursor: pointer;
}

.about-me-section {
    width: 100%;
    padding: 50px 0 50px 0;
    background: url(../images/aboutMeBackground.JPG) no-repeat center fixed;
    background-size: cover;
    color: rgba(0, 0, 0, 0.72);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.about-me-text {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 4px;
    margin-right: 600px;
    border-bottom: 3px solid black;
    margin-bottom: 25px;
}