body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fdfdfd;
    background: #fdfdfd;
}

html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media (min-width: 767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

.top20 {
    margin-top: 20px;
}

.top30 {
    margin-top: 30px;
}

.top100 {
    margin-top: 100px;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 0;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    background: 0 0;
}

.navbar-brand {
    font-weight: 800;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #fdfdfd;
}

.navbar-default .navbar-brand:hover {
    color: darkgray;
    outline: 0;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

#toggleBtn:hover,
#toggleBtn:focus,
#toggleBtn:active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: lightgray;
    color: black;
}

@media (min-width: 767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 2px;
        background: 0 0;
        box-shadow: none;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom .top-nav-collapse {
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    background: url(../images/homeBackground.jpg) no-repeat center fixed;
    background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 50px;
}

.brand-image {
    width: 20%;
    height: auto;
    margin: 5% 0 2% 0;

}

.intro-text {
    font-size: 40px;
}